body{
    background-color: black
}
h1{
    text-align: center;
     font-size: 100px ;
     margin-top: 200px;
 }
 
p#email, input#txtsenha, p#botao{
    margin-left: 50%;
    width: 200px;

    
} 


